@use 'config';


.login-container {
    display: flex;
    flex-direction: row;
}


.login-background {
    background-image: url('http://localhost:3000/img/CalanderPhoto.jpg');
    width: 700px;
    height: 900px;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 20px;

    p {
        font-size: 70px;
        color: config.$secondary-color;
        margin-top: 200pt;
        margin-left: 200pt;
        opacity: 1.0;
        text-align: center;
        width: 200pt;
        height: 100pt;
    }
}

.login-inputs {
    display: flex;
    background-color: config.$layer-color;
    width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;

    .cal-logo-title {
        display: flex;
        gap: 20px;
        margin-top: 50px;
        font-size: 40px;


        .material-symbols-outlined {
            margin-top: 8px;
            color: config.$secondary-color;

        }

        .cal-title {
            color: config.$secondary-color;

        }
    }

    .login-form {
        display: flex;
        background-color: config.$layer-color;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        gap: 20px;


        label {
            margin-right: 150px;
        }

        input[type="Email"],
        input[type="Password"] {
            width: 200px;
            height: 30px;
        }



        button {
            margin-top: 20px;
            padding: 10px 20px;
            color: white;
            background-color: config.$secondary-color;
            border-radius: config.$smooth-corners;
            border: solid 1px config.$secondary-color;
        }
    }

    .login-noaccount {
        border: none;
        margin-top: 30px;
        background-color: white;
        border-radius: 10px;
        padding: 20px 30px;

        button {
            margin-top: 30px;
            padding: 3px 3px;
            color: white;
            background-color: config.$secondary-color;
            border-radius: config.$smooth-corners;
            border: solid 1px config.$secondary-color ;
        }
    }
}