@use 'config';
@use "home";
@use 'events';
@use "login";
@use "signup";


.cal-background {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Header */
.cal-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vmax;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  justify-content: flex-start;
  text-align: center;
  opacity: 0.8;
  background-color: config.$primary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  
  .material-symbols-outlined {
    font-weight: bold;
    color: config.$bold-color;
  }

  .cal-title {
    color: config.$bold-color;
    font-size: 18px;
  }

  .cal-events-search-input{
   margin-left: 30vmax;
   width:  350pt;
   padding: 10px;
   opacity: 0.8;
   border: 1px solid config.$secondary-color;
   border-radius: 6px;
  }

  .cal-events-btn {
    border: none;
    color: config.$bold-color;
    background-color: config.$primary-color;
    padding: 20px;
    margin-left: 200px;

    &:hover {
      font-weight: bold;
      background-color: white;
    }
  }

  .cal-login-btn{
    border: none;
    color: config.$bold-color;
    background-color: config.$primary-color;
    padding: 20px;

    &:hover {
      font-weight: bold;
      background-color: white;
    }

  }
  
  .cal-signup-btn{
    border: none;
    color: config.$bold-color;
    background-color: config.$primary-color;
    padding: 20px;

    &:hover {
      font-weight: bold;
      background-color: white;
    }
  }
   .cal-signout-btn{
    border: none;
    color: config.$bold-color;
     background-color: config.$primary-color;
     padding: 20px;
     
    &:hover {
      font-weight: bold;
      background-color: white;
    }
  }
}


/* Calendar section */
.cal-main {
  margin-top: 10vmax;
  height: 1000px;

 .cal-category-select{
  padding: 12px 16px;
  background: #ffff;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 100px;
  color: #333;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    border-color: config.$secondary-color;
    box-shadow: 0 0 8px rgba(138, 180, 248, 0.5);
  }

  &:focus {
    outline: none;
    border-color: config.$secondary-color;
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.6);
  }
}

  .cal-show-events {
    display: grid;
    grid: auto/ repeat(3, auto);
    gap: 100px;
    margin-top: 50px;
    margin-left: 100px;
    width: 500pt;
    height: 200px;
  }

.cal-event-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
  

  .cal-monthinyear {
    color: config.$bold-color ;
    text-align: center;
  }

  .cal-filter {
    text-align: center;
    margin-bottom: 2vmax;

    button {
      margin: 6px;
      padding: 10px 20px;
    }
  }
}

.cal-calander{
  float: right;

/* Toggle buttons */
.cal-left,
.cal-right {
  background-color: config.$secondary-color;
  border: 1px solid config.$secondary-color;
  color: config.$bold-color;
  padding: 20px;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }
}

/* Mini Calendar grid */
.cal-grid {
  display: grid;
  grid: 50px / repeat(7, auto);
  padding: 10px 20px;
  color: config.$bold-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 300px;
  background-color: config.$secondary-color;
  border-radius: 20px;

  > div {
    padding: 20px 0px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    
    &:hover{
      border-radius: 10px;
      background-color: white;
    }

  }

  .cal-daysofweek {
    font-weight: bold;
  }

  .cal-event-dot{
  width: 6px;
  height: 6px;
  background-color: #ff4d4d;
  border-radius: 50%;
  display: block;
  margin: 4px auto 0;
  }

 }
}


.event-pagination{
  margin-top: 600px;
  text-align: center;
}

/* Footer */
.cal-footer {
  display: flex;
  gap: 30px;
  background-color: config.$primary-color;
  width: 120vmax;
  height: 150px;

  .footer-left{
  padding: 30px 20px;
    a{
      color: config.$bold-color;
    }
  }

  .footer-center{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    a{
      color: config.$bold-color;
    }
  }

  .footer-right{
    padding: 30px 30px;
    margin-left: 200px;
  }
  
}
